@background: #F3F2F4;
@foreground: #53545B;
@cursorColor: #53545B;
@cursorColor2: #F3F2F4;
@color0: #53545B;
@color1: #C00C50;
@color2: #0A7040;
@color3: #A6403A;
@color4: #1763AA;
@color5: #B02874;
@color6: #096A83;
@color7: #ECE6DE;
@color8: #80565d;
@color9: #BD3636;
@color10: #407343;
@color11: #9D524A;
@color12: #5A5EBB;
@color13: #B225AB;
@color14: #07737A;
@color15: #F3F2F4;


@very-light-gray: lighten(@foreground, 30);
@light-gray: lighten(@foreground, 30);
@gray: @color0;
@dark-gray: @color8;

// Background/Foreground Tones
@base03: @foreground;
@base02: lighten(@foreground, 10);

// Content Tones
@base1: lighten(@foreground, 8);
@base0: lighten(@foreground, 10);
@base00: @color8;
@base01: lighten(@foreground, 15);

// Background/Foreground Tones
@base2: darken(@color7, 10);
@base3: @color7;

// Accent Colors
@yellow: @color3;
@orange: @color11;
@red: @color9;
@magenta: @color13;
@violet: @color5;
@blue: @color12;
@cyan: @color14;
@green: @color10;
