@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.
// General colors
@syntax-text-color: @foreground;
@syntax-cursor-color: @base03;
@syntax-selection-color: @base2;
@syntax-selection-flash-color: @base0;
@syntax-background-color: @base3;

// Guide colors
@syntax-wrap-guide-color: darken(@base2, 12%);
@syntax-indent-guide-color: darken(@base2, 12%);
@syntax-invisible-character-color: darken(@base2, 12%);

// For find and replace markers
@syntax-result-marker-color: @base1;
@syntax-result-marker-color-selected: @base03;

// Gutter colors
@syntax-gutter-text-color: @base00;
@syntax-gutter-text-color-selected: @base03;
@syntax-gutter-background-color: @base2;
@syntax-gutter-background-color-selected: darken(@syntax-gutter-background-color, 10%);

// For git diff info. i.e. in the gutter
@syntax-color-added: @green;
@syntax-color-renamed: @blue;
@syntax-color-modified: @yellow;
@syntax-color-removed: @red;

// For language entity colors
@syntax-color-variable: @blue;
@syntax-color-constant: @color2;
@syntax-color-property: @yellow;
@syntax-color-value: @cyan;
@syntax-color-function: @blue;
@syntax-color-method: @blue;
@syntax-color-class: @blue;
@syntax-color-keyword: @color9;
@syntax-color-tag: @blue;
@syntax-color-attribute: @syntax-comment-color;
@syntax-color-import: @red;
@syntax-color-snippet: @syntax-color-keyword;


// Custom variables
// Warning: Don't use in packages

@syntax-comment-color: @base1;
@syntax-subtle-color: @base00;
@syntax-emphasized-color: @base01;
@syntax-cursor-line: fade(darken(@syntax-background-color, 30%), 15%); // needs to be semi-transparent

// General colors
@syntax-text-color: @foreground;
@syntax-cursor-color: @color4;
@syntax-selection-color: @color7;
@syntax-background-color: @background;

// Guide colors
@syntax-wrap-guide-color: @color7;
@syntax-indent-guide-color: @color8;
@syntax-invisible-character-color: @color8;

// For find and replace markers
@syntax-result-marker-color: @color7;
@syntax-result-marker-color-selected: @color5;

// Gutter colors
@syntax-gutter-text-color: @color8;
@syntax-gutter-text-color-selected: @color8;
@syntax-gutter-background-color: @color7;
@syntax-gutter-background-color-selected: @color5;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @color4;
@syntax-color-added: @color2;
@syntax-color-modified: @color9;
@syntax-color-removed: @color1;
@syntax-comment-color: darken(@syntax-gutter-background-color, 20%);
@syntax-subtle-color: @base00;
